.login_btn {
    font-family: "Inter", sans-serif;
    float:right;
    width: 100px;
    height: 65px;
    border: 5px solid;
    border-color: aqua;
    border-radius: 5px;
    margin: auto;
  
    
  }


